{% extends 'admin/layout.njk' %}

{% block head %}
  <title>Novo chef | Foodfy</title>
{% endblock head %}

{% block content %}

  <section class="new-chef container form">
    <form action="/admin/chefs" method="POST" enctype="multipart/form-data">

      <div class="header">
        <h3>Criando chef</h3>
        <button class="button" type="submit">Salvar chef</button>
      </div>

      <div class="fields">
        {% include 'admin/chefs/fields.njk'%}
      </div>

    </form>

  </section>

{% endblock content %}