{% extends 'admin/layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="/styles/admin/create.css">
  <title>Novo chef | Foodfy</title>
{% endblock head %}

{% block content %}

  <form class="new-chef" action="/admin/chefs" method="post" enctype="multipart/form-data">
    <h3>Criando chef</h3>

    {% include 'admin/chefs/fields.njk'%}
  </form>

{% endblock content %}