{% extends 'admin/layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="/styles/admin/create.css">
  <title>Editando chef | Foodfy</title>
{% endblock head %}

{% block content %}
  <div class="container">
    <form class="new-recipe" action="admin/chef?_method=PUT" method="post">
      <h3>Editando chef</h3>

      {% include 'admin/chefs/fields.njk'%}

      <input type="hidden" name="id" value="{{ chef.id }}">
    </form>

    <form class="form-delete" action="admin/chefs?_method=DELETE" method="post">
      <button type="submit">Deletar</button>

      <input type="hidden" name="id" value="{{ chef.id }}">
    </form>

  </div>

  <script>
    const formDelete = document.querySelector('.form-delete')
    formDelete.addEventListener('submit', (event) => {
      const confirmation = confirm('Gostaria mesmo de deletar?')
      if (!confirmation) {
        event.preventDefault()
      }
    })
  </script>

{% endblock content %}