{% extends 'admin/layout.njk' %}

{% block head %}
  <title>Editando chef | Foodfy</title>
{% endblock head %}

{% block content %}
  <section class="container form">
    <form action="/admin/chefs?_method=PUT" method="post" enctype="multipart/form-data">

      <div class="header">
        <h3>Editando chef</h3>
        <button class="button">Editar chef</button>
      </div>

      <div class="fields">
        {% include 'admin/chefs/fields.njk'%}
        <input type="hidden" name="id" value="{{ chef.id }}">
      </div>

    </form>

    <form id="form-delete" action="/admin/chefs?_method=DELETE" method="post">
      <button class="button delete" type="submit">Deletar</button>
      <input type="hidden" name="id" value="{{ chef.id }}">
      <input type="hidden" name="file_id" value="{{ chef.file_id }}">
    </form>

  </section>

  <script>
    const formDelete = document.querySelector('#form-delete')
    formDelete.addEventListener('submit', (event) => {
      const confirmation = confirm('Gostaria mesmo de deletar?')
      if (!confirmation) {
        event.preventDefault()
      }
    })
  </script>

{% endblock content %}