<div class="item">
  <label for="name">Nome</label>
  <input type="text" id="name" name="name" value="{{ chef.name }}" required="required"/>
</div>

<div class="item">
  <label for="photos">Avatar</label>
  <div class="photos-container">

    <div id="photos-upload">
      <input 
        id="photos-input" 
        type="file" 
        name="photos" 
        accept="image/*" 
        {% if not avatar %}
          required="required"
        {% endif %}
        onchange="PhotosUpload.handleFileInput(event, 1)"
      />
      <i class="material-icons">add</i>
    </div>

    <div id="photos-preview">
      {% if avatar %}
        <div class="photo" id="{{chef.file_id}}">
          <img src="{{avatar}}" alt="{{chef.name}}">
          <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
        </div>
        <input type="hidden" name="removed_files">
      {% endif %}
    </div>
  </div>
</div>