<div class="item">
  <label for="name">Nome</label>
  <input type="text" id="name" name="name" value="{{ chef.name }}" required="required"/>
</div>

<div class="item">
  <label for="photos">Avatar</label>
  <div class="photos-container">

    <div id="photos-upload">
      <input 
        id="photos-input" 
        type="file" 
        name="photos" 
        accept="image/*" 
        {% if not files %}
          required="required"
        {% endif %}
        onchange="PhotosUpload.handleFileInput(event, 1)"
      />
      <i class="material-icons">add</i>
    </div>

    <div id="photos-preview">
      {% if files %}
        {% for image in files %}
          <div class="photo" id="{{image.id}}">
            <img src="{{image.src}}" alt="{{image.name}}">
            <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
          </div>
        {% endfor %}
        <input type="hidden" name="removed_files">
      {% endif %}
    </div>
  </div>
</div>