<div class="item">
  <label for="name">Nome</label>
  <input type="text" id="name" name="name" value="{{ chef.name }}" required="required"/>
</div>

<div class="item">
  <label for="avatar_url">Avatar</label>
  <input type="url" id="avatar_url" name="avatar_url" value="{{ chef.avatar_url }}" required="required"/>
</div>

<button type="submit">Salvar chef</button>