{% extends 'admin/layout.njk' %}

{% block head %}
  <title>Admin | Foodfy</title>
{% endblock head %}

{% block content %}

  <div class="container">
    <header class="header container__title">
      <h3>Gerenciar chefs</h3>
      {% if session.isAdmin %}
        <a class="button" href="/admin/chefs/create">Novo chef</a>
      {% endif %}
    </header>

    <section class="container__cards chef">

      {% for chef in chefs %}
        <div class="card__chef">
          <img src="{{ chef.avatar.replace('public', '') }}" alt="{{ chef.name }}">

          <div class="card__information">
            <h2 class="card__information--title">
              {{ chef.name }}
            </h2>

            <a href="/admin/chefs/{{ chef.id }}" class="card__information--view">Visualizar</a>
          </div>
        </div>
      {% endfor %}

    </section>
  </div>

{% endblock content %}