<div class="item">
  <label for="name">Nome</label>
  <input 
    type="text" 
    id="name"
    name="name" 
    value="{{ user.name }}" 
    placeholder="Digite o nome completo"
    {# required="required" #}
  />
</div>

<div class="item">
  <label for="email">E-mail</label>
  <input 
    type="email" 
    id="email"
    name="email" 
    value="{{ user.email }}" 
    placeholder="Digite o e-mail"
    onblur="Validate.apply(this, 'isEmail')"
    {# required="required" #}
  />
</div>

<div class="item">
  <input 
    type="checkbox" 
    id="is_admin"
    name="is_admin" 
    {% if user.is_admin %}
      checked
    {% endif %}
  />
  <label for="is_admin">Administrador</label>
</div>