{% extends 'admin/layout.njk' %}

{% block head %}
  <title>Usuários | Foodfy</title>
{% endblock head %}

{% block content %}

  <div class="container">
    <header class="header">
      <h3>Usuários</h3>
      <a href="/admin/users/register" class="button">Novo</a>
    </header>

    <section class="container__cards user">

      {% for user in users %}
        <div class="card__user">

          <div class="card__information">
            <h2 class="card__information--name">
              {{ user.name }}
            </h2>
            <p class="card__information--email">
              {{ user.email }}
            </p>

            <div class="buttons">
              {% if user.id === session.userId %}
                <a href="/admin/profile" class="card__information--view">Editar</a>
              {% else %}
                <a href="/admin/users/{{user.id}}/edit" class="card__information--view">Editar</a>
              {% endif %}
              <form id="form-delete" action="/admin/users?_method=DELETE" method="post">
                <button class="card__information--view remove" type="submit">Remover</button>
                <input type="hidden" name="id" value="{{ user.id }}">
              </form>
            </div>
          </div>
        </div>
      {% endfor %}

    </section>
  </div>

  <script>
    const formsDelete = document.querySelectorAll('#form-delete')
    for (formDelete of formsDelete) {
      formDelete.addEventListener('submit', (event) => {
        const confirmation = confirm('Gostaria mesmo de deletar?')
        if (!confirmation) {
          event.preventDefault()
        }
      })
    }
  </script>

{% endblock content %}