{% extends 'admin/layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="/styles/admin/create.css">
  <title>Novo usuário | Foodfy</title>
{% endblock head %}

{% block content %}

  <section class="user-register container form">
    <form action="/admin/users/register" method="POST">

      <div class="header">
        <h3>Criar Usuário</h3>
        <div class="buttons">
          <button class="button" type="submit">Salvar</button>
          <a href="/admin/users"class="button cancel">Cancelar</a>
        </div>
      </div>

      <div class="fields">
        {% include 'admin/user/fields.njk'%}
      </div>

    </form>
  </section>

{% endblock content %}