@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    --color-text: #111111
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    max-width: 94rem;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    /* grid-template-columns: 1fr 4fr; */
    padding: 3rem 0;
}

header .menu-links {
    margin-left: 12rem;
}

.menu-links a {
    font-size: 1.6rem;
    padding: .5rem;
    color: var(--color-text);
    text-decoration: none;
}

.menu-links a#active {
    font-weight: bold;
}

.menu-links a:hover {
    color: black;
    border-bottom: 1px solid black;
    transition: .2s;
}

header a+a {
    margin-left: 2rem;
}

.box {
    background-color: #FBDFDB;
    width: 100%;
    border-radius: 3rem;
    display: flex;
    position: relative;
}

.box-content {
    max-width: 32rem;
    margin: 12rem 6rem;
}

.box-content h1 {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--color-text);
}

.box-content p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    opacity: .7;
    text-align: left;
}

.box-image img {
    position: absolute;
    bottom: 0;
    right: 10rem;
}

section h1 {
    margin-top: 5rem;
    font-size: 2.4rem;
    color: var(--color-text);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.card {
    max-width: 30rem;
}

.card-image img {
    width: 100%;
    border-radius: 1.5rem;
}

.card-info h2 {
    font-size: 1.8rem;
    color: var(--color-text);
    margin-top: 2rem;
}

.card-info p {
    font-size: 1.4rem;
    margin: .5rem 0 1rem;
    color: #777777;
}

footer {
    background-color: #eeeeee;
    max-width: 100vw;
    margin-top: 4rem;
}

footer p {
    font-size: 1.4rem;
    text-align: center;
    color: #999999;
    padding: 2.3rem 0;
}

@media(max-width: 1175px) {
    #container {
        max-width: 80vw;
    }
}

@media(max-width: 970px) {
    header {
        grid-template-columns: 1fr 2fr;
    }

    .box {
        flex-direction: column;
        text-align: center;
    }

    .box-content {
        margin: 5rem auto;
    }

    .box-image img {
        position: initial;
        width: 20rem;
    }

    main .cards,
    section .cards {
        grid-template-columns: 1fr 1fr;
    }

    .card  {
        max-width: 100%;
    }
}

@media(max-width: 446px) {
    :root {
        font-size: 60%;
    }

    header {
        justify-content: space-between;
    }

    header .menu-links {
        margin-left: 2rem;
    }
/*     
    header a:first-child img {
        width: 90%;
    } */

    header a+a {
        margin-left: 0;
    }

    .box-content {
        padding: 3rem 2rem;
        margin: 0 auto;
    }

    .box-content p{
        text-align: center;
    }

    .box-image img {
        width: 13rem;
    }

    main .cards,
    section .cards {
        grid-template-columns: 1fr;
    }
}

/* ----------------- ABOUT ----------------- */

main {
    margin-top: 2rem;
    padding-bottom: 1rem;
}

main p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #444444;
    margin-top: 2rem;
}

.about h1 {
    font-size: 2.4rem;
    color: var(--color-text);
}

.begin h2,
.recipes h2 {
    font-size: 2rem;
    margin-top: 3rem;
    color: var(--color-text);
}

/* --------------- RECIPES --------------- */

main .cards {
    padding-bottom: 1rem;
}

main .card {
    cursor: pointer;
}