<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/chef.png" type="image/x-icon">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/responsive.css">
    <title>Foodfy</title>
</head>

<body>
    <div id="container">
        <header>
            <div class="menu-img-logo">
                <a href="/"><img src="assets/logo.png" alt="Logo Foodfy"></a>
            </div>
            <div class="menu-links">
                <a href="/about">Sobre</a>
                <a href="/recipes">Receitas</a>
            </div>
        </header>

        
        <div class="box">
            <div class="box-content">
                <h1>As melhores receitas</h1>
                <p>
                    Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
                </p>
            </div>
            <div class="box-image">
                <img src="assets/chef.png" alt="Desenho de Chefe">
            </div>
        </div>
        

        <section>
            <h1>Mais acessadas</h1>
            <div class="cards">

                {% for recipe in recipes %}

                        <div class="card" id="">
                            <div class="card-image">
                                <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
                            </div>
                            <div class="card-info">
                                <h2>{{recipe.title}}</h2>
                                <p>por {{recipe.author}}</p>
                            </div>
                        </div>

                    {% endfor %}
                    
            </div>
        </section>
    </div>

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>
</body>

</html>