{% extends "layout.njk" %}

{% block head %}
<link rel="stylesheet" href="/styles/not-found.css">
<title>Página não encontrada | Foodfy</title>
{% endblock head %}

{% block content %}
<div class="container">

    <h1>Página não encotrada</h1>
    <p>Volte para a página principal clicando <a href="/">aqui</a>.</p>
    <img src="/assets/chef.png" alt="Desenho de chefe">

</div>
{% endblock content %}
