<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/chef.png" type="image/x-icon">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/recipe.css">
    <link rel="stylesheet" href="styles/responsive.css">

    <title>Sobre | Foodfy</title>
</head>

<body>
    <div id="container">
        <header>
            <div class="menu-img-logo">
                <a href="/"><img src="assets/logo.png" alt="Logo Foodfy"></a>
            </div>
            <div class="menu-links">
                <a href="/about" id="active">Sobre</a>
                <a href="/recipes">Receitas</a>
            </div>
        </header>

        <main>
            <div class="info-box">
                <img-container>
                    <img src="assets/burger.png" alt="asinha">
                </img-container>
                <h1>burguer</h1>
                <p>por thcola</p>
            </div class="info-box">

            <div class="ingredients-box">
                <h1>Ingredientes<span>ESCONDER</span></h1>
                <ul>
                    <li>3 kg de carne</li>
                    <li>3 kg de carne</li>
                    <li>3 kg de carne</li>
                    <li>3 kg de carne</li>
                    <li>3 kg de carne</li>
                </ul>
            </div>


        </main>

    </div>

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>
</body>

</html>