<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/chef.png" type="image/x-icon">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/responsive.css">

    <title>Sobre | Foodfy</title>
</head>

<body>
    <div id="container">
        <header>
            <div class="menu-img-logo">
                <a href="/"><img src="assets/logo.png" alt="Logo Foodfy"></a>
            </div>
            <div class="menu-links">
                <a href="/about" id="active">Sobre</a>
                <a href="/recipes">Receitas</a>
            </div>
        </header>

        <main>
            
        </main>

    </div>

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>
</body>

</html>