<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/chef.png" type="image/x-icon">

    {% include '../admin/parts/styles.njk' %}

    {% block head %}
      <title>Foodfy</title>
    {% endblock head %}

  </head>
  <body>

    {% include '../admin/parts/messages.njk' %}

    {% if session.userId %}
      {% include '../admin/parts/header.njk' %}
    {% else %}
      <div class="header-logo">
        <img src="/assets/logo.png" alt="">
      </div>
    {% endif %}

    {% block content %}{% endblock content %}

    <script src="/scripts/admin/scripts.js"></script>

  </body>
</html>