

.container {
  position: relative;
  width: 940px;
  margin: 55px auto;
}

.new-recipe h3 {
  font-size: 24px;
}

.item {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.item label {
  margin-bottom: 10px; 
}

.item label,
.item span {
  font-size: 16px;
  font-weight: bold;
}

.item input {
  height: 49px;
}

.item input,
.item textarea {
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #111111;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  outline: 0;
}

.item textarea {
  resize: none;
}

.item span {
  margin-top: 15px;
  color: #6558C3;
}

.item span:hover {
  cursor: pointer;
  color: #7665f5;
}

.new-recipe button {
  position: absolute;
  top: 0;
  right: 0;
  background: #6558C3;
  padding: 9px 20px;
  border-radius: 4px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: background .2s;
}

.new-recipe button:hover {
  cursor: pointer;
  background: #7665f5;
}

.form-delete button {
  position: absolute;
  top: 0;
  right: 160px;
  background: #DC4747;
  padding: 9px 20px;
  border-radius: 4px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: background .2s;
}

.form-delete button:hover {
  cursor: pointer;
  background: #f75a5a;
}