.container,
.new-recipe,
.new-chef {
  position: relative;
  width: 940px;
  margin: 55px auto;
}

.container .header,
.container .header,
.container .header {
  display: flex;
  justify-content: space-between;
}

.container .header,
.container .header,
.container .header h3 {
  font-size: 24px;
}

.button.delete {
  background-color: #DC4747;
  position: absolute;
  top: 0;
  right: 160px;
}

.button.delete:hover {
  cursor: pointer;
  background: #f75a5a;
}

.item {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.item label {
  margin-bottom: 10px; 
}

.item label,
.item span {
  font-size: 16px;
  font-weight: bold;
}

.item input,
.item select {
  width: 100%;
  height: 49px;
}

.item .ingredient:not(:first-child), 
.item .preparation:not(:first-child) {
  margin-top: 15px;
}

.item input,
.item textarea,
.item select {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #111111;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  outline: 0;
  background-color: transparent;
}

.item .photos-container {
  display: flex;
}

.item #photos-upload {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  width: 150px;
  height: 150px;

  border: 1px solid #DDDDDD;
  border-radius: 3.5px;
}

.item #photos-upload i {
  color: #777777;
  font-size: 50px;
}

.item #photos-input {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;

  cursor: pointer;
}

.item #photos-preview {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  width: 80%;
  margin: 0 auto;
}

.item #photos-preview img {
  width: 100%;
  height: 150px;

  object-fit: cover;
}

#photos-preview .photo {
  position: relative;
}

#photos-preview .photo i {
  position: absolute;
  top: 0;
  left: 0;
  
  background: rgba(255, 255, 255, .8);

  color: red;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 50px;
  cursor: pointer;

  transition: opacity .2s;

  opacity: 0;
}

#photos-preview .photo:hover i {
  opacity: 1;
}

.item textarea {
  resize: none;
}

.item .new-buttons {
  display: flex;
  justify-content: space-between;
}

.item span {
  margin-top: 15px;
  color: #6558C3;
}

.item span.remove-ingredient {
  color: #DC4747;
}

.item span.remove-preparation {
  color: #DC4747;
}

.item span:hover {
  cursor: pointer;
  color: #7665f5;
}

.item span.remove-ingredient:hover {
  color: #f75a5a;
}

.item span.remove-preparation:hover {
  color: #f75a5a;
}

/* ----- USERS ----- */
.user-register .buttons {
  display: flex;
  gap: 16px;
}

.user-register .button.cancel {
  background-color: #8A8A8A;
}

.user-register .button.cancel:hover {
  background-color: #9e9e9e;
}

.user-register .fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 40px;
}

.user-register input {
  max-width: 450px;
} 

.user-register .item:last-child {
  margin: 0;
  flex-direction: row;
  align-items: center;
}

.user-register .item:last-child label {
  margin: 0 8px;
}

.user-register input[type="checkbox"] {
  width: 15px;
}

.user-register input::placeholder {
  color: #999;
  font-weight: normal;
}