.container {
  max-width: 940px;
  margin: 50px auto;
}

.container__title h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

.container__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px
}

.card {
  display: flex;
}

.card img {
  width: 172px;
  height: 80px;
  object-fit: cover;
  border-radius: 8.57px;
  margin-right: 20px;
}

.card__information--title {
  font-size: 18px;
  font-weight: normal;
}

.card__information--author {
  font-size: 14px;
  font-weight: normal;
  color: #777777;
  padding: 5px 0 10px;
}

.card__information--view {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #6558C3;
}

.card__information--view:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ------CHEF ----- */
.container__cards.chef {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}

.card__chef {
  display: flex;
}

.card__chef .card__information{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card__chef .card__information--recipes{
  font-size: 14px;
  color: #666666;
}

.card__chef img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}