:root {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: #111111
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, input, button, textarea {
  font-family: 'Roboto', sans-serif;
}

.header-layout {
  height: 80px;
  width: 100%;
  background: #111111;

  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.header-logo {
  text-align: center;
  padding: 35px 0;
}

.menu-links {
  width: 940px;
  margin: 0 auto;

  display: flex;
  align-items: center;

}

.menu-links a.logo {
  margin-right: 50px;
}

.menu-links a:not(:first-child),
a.recipes,
a.users {
  margin-right: 30px;
  font-size: 15px;
  font-weight: bold;
  color: #999999;
  text-decoration: none;
}

.menu-links a:hover,
.recipes-links a:hover,
.users a:hover,
.submenu a:hover {
  color: #fff;
  transition: color .2s;
}

.menu-links a.active {
  color: #fff;
}

div.recipes-links {
  position:relative;
}

div.users {
  position:relative;
}
.submenu {
  position: absolute;
  top: -10px;
  left: -10px;

  margin-top: 8px;

  width: 100px;

  text-align: center;

  display: block;
  background: #111111;

  border-radius: 4px;
  box-shadow: 0px 2px 4px -2px rgba(190, 190, 190, 0.3);

  transition: all .2s;
  opacity: 0;

  visibility: hidden;
}

.submenu li {
  list-style: none;
}

.submenu li a {
  color: #999999;
  padding: 8px 12px;
  cursor: pointer;

  background: none;

  font-size: 15px;
  font-weight: bold;

  text-decoration: none;

  border-radius: 4px;
  border-top: 1px solid #999999;

  display: inline-block;
  width: 100%;
}

.submenu li:first-child a {
  border: none;
}

/* .submenu li a:hover,
.submenu li button:hover {
  color: #111;
  font-weight: bold;
} */

.recipes-links:hover .submenu,
.users:hover .submenu {
  top: 0;
  opacity: 1;
  visibility: initial;
}

.logout {
  width: 940px;
  display: flex;
  justify-content: flex-end;
}

.logout button {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  transition: color .2s;
}

.logout button:hover {
  color: #999999;
  cursor: pointer;
}