@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: #111111
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, input, button, textarea {
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 80px;
  width: 100%;
  background: #111111;

  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.menu-links {
  width: 940px;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.menu-links a:first-child {
  margin-right: 20px;
}

.menu-links a+a {
  margin-left: 30px;
  font-size: 15px;
  font-weight: bold;
  color: #999999;
  text-decoration: none;
}

.menu-links a+a:hover {
  color: #fff;
  transition: color .2s;
}

.menu-links a.active {
  color: #fff;
}