section.login.container,
section.password.container {
  max-width: 500px;
}

section.login .header,
section.password .header {
  display: block;
}

section.login .header h3,
section.password .header h3 {
  text-align: center;
}

section.login input::placeholder,
section.password input::placeholder {
  font-weight: normal;
}

section.login .footer,
section.password .footer {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.password .footer {
  justify-content: flex-end;
}

section.login .footer a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #969696;

  transition: color .2s;
}

section.login .footer a:hover {
  color: #111111;
}