<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/chef.png" type="image/x-icon">

    <link rel="stylesheet" href="/styles/site/main.css">
    <link rel="stylesheet" href="/styles/site/responsive.css">

    {% block head %}
      <title>Foodfy</title>
    {% endblock head %}

  </head>

  <body>
    <div id="container">
      <header>
        <div class="menu-links">
          <div class="menu-img-logo">
            <a href="/"><img src="/assets/logo.png" alt="Logo Foodfy"></a>
          </div>
          {% block links %}
            <a href="/about">Sobre</a>
            <a href="/recipes">Receitas</a>
            <a href="/chefs">Chefs</a>
          {% endblock links %}
        </div>
        {% block search %}{% endblock search %}
      </header>

      {% block content %}{% endblock content %}

    </div>

    <footer>
      <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    <script src="/scripts/site/scripts.js"></script>
  </body>

</html>