{% extends "site/layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/site/recipes.css">
  <title>Receitas | Foodfy</title>
{% endblock head %}

{% block content %}
  <main>
    <div class="cards">

      {% for recipe in recipes %}

        <div class="card" id="{{recipe.id}}">
          <div class="card-image">
            <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
          </div>
          <div class="card-info">
            <h2>{{recipe.title}}</h2>
            <p>por
              {{recipe.chef_name}}
            </p>
          </div>
        </div>

      {% endfor %}

    </div>
  </main>

  <div 
    class="pagination"
    data-page={{pagination.page}}
    data-total={{pagination.total}}
    data-filter={{filter}}
  ></div>

{% endblock content %}