{% extends "site/layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/site/recipe.css">
  <title>{{recipe.title}}
    | Foodfy</title>
{% endblock head %}

{% block content %}
  <main>
    <div class="info-box">
      <div class="img-container">
        {% if not recipe.files[0] %}
          <img src="http://placehold.it/940x280?text=RECEITA SEM IMAGEM">
        {% else %}
          <img src="{{recipe.files[0].src}}" alt="Imagem de {{recipe.title}}">
        {% endif %}
      </div>
      <h1>{{recipe.title}}</h1>
      <p>{{recipe.author}}</p>
    </div class="info-box">

    <div class="ingredients-box">
      <h1>Ingredientes<span>ESCONDER</span></h1>
      <ul>
        {% for ingredient in recipe.ingredients %}
          <li>{{ingredient}}</li>
        {% endfor %}

      </ul>
    </div>

    <div class="preparation-box">
      <h1>Modo de preparo<span>ESCONDER</span></h1>

      {% for preparation in recipe.preparation %}
        <p>{{preparation}}</p>
      {% endfor %}
    </div>

    {% if recipe.information != '' %}
      <div class="information-box">
        <h1>Informações adicionais<span>ESCONDER</span></h1>
        <p>{{recipe.information.replace('\n\n', '<br><br>')}}</p>
      </div>
    {% endif %}

  </main>

  <script src="/scripts/site/scripts.js"></script>
{% endblock content %}