<div class="item">
  <label for="img">Imagem da receita</label>
  <input type="url" id="img" name="img">
</div>

<div class="item">
  <label for="ingredients">Ingredientes</label>
  <input type="text" id="ingredients" name="ingredients">
  <span>Adicionar novo ingrediente</span>
</div>

<div class="item">
  <label for="preparation">Modo de preparo</label>
  <input type="text" id="preparation" name="preparation">
  <span>Adicionar novo passo</span>
</div>

<div class="item">
  <label for="more_information">Informações adicionais</label>
  <textarea name="more_information" id="more_information" rows="10"></textarea>
</div>

<button type="submit">Salvar receita</button>