{% extends 'admin/recipes/layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="/styles/admin/show.css">
  <title>{{ recipe.title }}
    | Foodfy</title>
{% endblock head %}

{% block content %}

  <div class="container">
    <h2 class="container__title">
      Receita:
      {{ recipe.title }}
    </h2>

    <main class="container__recipe">
      <img class="container__recipe--image" src="{{ recipe.image }}" alt="{{ recipe.title }}">

      <h1 class="container__recipe--title">
        {{ recipe.title }}
      </h1>
      <p class="container__recipe--author">
        {{ recipe.author }}
      </p>

      <div class="container__recipe--ingredients">
        <h3>Ingredientes</h3>

        {% for ingredient in recipe.ingredients %}
          <p>
            -
            {{ ingredient }}
          </p>
        {% endfor %}

      </div>

      <div class="container__recipe--preparation">
        <h3>Modo de preparo</h3>

        {% for preparation in recipe.preparation %}
          <p>
            -
            {{ preparation }}
          </p>
        {% endfor %}

      </div>

      {% if recipe.information != '' %}

        <div class="container__recipe--information">
          <h3>Informações adicionais</h3>

          <p>
            {{ recipe.information.replace('\n\n', '<br><br>') }}
          </p>

        </div>

      {% endif %}

    </main>

    <a href="{{ recipeIndex }}/edit">Editar receita</a>
  </div>

{% endblock content %}