<header class="header-layout">
  <nav class="menu-links">
    <a class="logo" href="/admin/recipes"><img src="/assets/logo-white.png" alt="Foodfy"></a>
    <a class="recipes" href="/admin/recipes">RECEITAS</a>
    <a class="chefs" href="/admin/chefs">CHEFS</a>
    <a class="users" href="/admin/users">USUÁRIOS</a>
  </nav>
</header>