{% extends "admin/layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/site/not-found.css">
  <title>Página não encontrada | Foodfy</title>
{% endblock head %}

{% block content %}
  <div class="container">

    <h1>Página não encotrada</h1>
    <p>Volte para seu perfil clicando
      <a href="/admin/profile">aqui</a>.</p>
    <img src="/assets/chef.png" alt="Desenho de chefe">

  </div>
{% endblock content %}