<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/admin/layout.css">
<link rel="stylesheet" href="/styles/admin/create.css">
<link rel="stylesheet" href="/styles/admin/index.css">
<link rel="stylesheet" href="/styles/admin/show.css">
<link rel="stylesheet" href="/styles/admin/messages.css">
<link rel="stylesheet" href="/styles/admin/session.css">