/* --------------- RECIPES --------------- */
.search form {
    display: grid;
    grid-template-columns: 1fr 90px;
    align-items: center;
    grid-gap: 8px;
}

.search form input {
    padding: 10px 15px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    outline: 0;
}

.search form input:placeholder-shown {
    font-size: 14px;
    color: #999999;
}

.search form button {
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #6558C3;
    border: none;
    border-radius: 4px;
    transition: .2s;
}

.search form button:hover {
    cursor: pointer;    
    background-color: #7665f5;

}

h1 {
    margin: 20px 0; 
    font-size: 24px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 1rem;

}

.card {
    max-width: 30rem;
    cursor: pointer;
}

.card-image img {
    width: 100%;
    border-radius: 1.5rem;
}

.card-info h2 {
    font-size: 1.8rem;
    color: var(--color-text);
    margin-top: 2rem;
}

.card-info p {
    font-size: 1.4rem;
    margin: .5rem 0 1rem;
    color: #777777;
}

/* -------------- PAGINATION -------------------- */

.pagination {
    text-align: center;
    margin: 50px 0;
}

.pagination a {
    background-color: #6558C3;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    transition: .2s;    
}

.pagination a+a {
    margin-left: 8px;
}

.pagination a:hover {
    background-color: #7665f5;
}

.pagination a.active {
    background-color: #7665f5;
}

.pagination span {
    background-color: #6558C3;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: default;
    margin: 0 8px;
}