main .info-box {
    display: block;
    padding: 20px 0 50px;
    text-align: center;
}

main .info-box img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 15px;
}

main .info-box h1 {
    font-size: 36px;
    color: #111111;
    margin-top: 50px;
}

main .info-box p {
    font-size: 20px;
    color: #777777;
    margin-top: 4px;
}

.ingredients-box h1,
.preparation-box h1,
.information-box h1 {
    font-size: 24px;
    color: #111111;
    margin-bottom: 20px;
}

.ingredients-box h1 span,
.preparation-box h1 span,
.information-box h1 span {
    font-size: 12px;
    color: #999999;
    margin-left: 8px;
}

.ingredients-box h1 span:hover,
.preparation-box h1 span:hover,
.information-box h1 span:hover {
    cursor: pointer;
    color: #777777;
    transition: color .2s;
}

.ingredients-box ul {
    margin: 20px 0 40px;
    margin-left: 18px;
}

.ingredients-box ul li {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.preparation-box,
.information-box {
    margin-bottom: 50px;
}

.preparation-box p,
.information-box p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

/* ---------- ESCONDER-MOSTRAR ------------- */

.ingredients-box.invisible li,
.preparation-box.invisible p,
.information-box.invisible p {
    display: none;
}
