.search form {
    display: grid;
    grid-template-columns: 1fr 90px;
    align-items: center;
    grid-gap: 8px;
}

.search form input {
    padding: 10px 15px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    outline: 0;
}

.search form input:placeholder-shown {
    font-size: 14px;
    color: #999999;
}

.search form button {
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #6558C3;
    border: none;
    border-radius: 4px;
    transition: .2s;
}

.search form button:hover {
    cursor: pointer;    
    background-color: #7665f5;

}

.box {
    background-color: #FBDFDB;
    width: 100%;
    border-radius: 3rem;
    display: flex;
    position: relative;
}

.box-content {
    max-width: 32rem;
    margin: 12rem 6rem;
}

.box-content h1 {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--color-text);
}

.box-content p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    opacity: .7;
    text-align: left;
}

.box-image img {
    position: absolute;
    bottom: 0;
    right: 10rem;
}

section h1 {
    margin-top: 5rem;
    font-size: 2.4rem;
    color: var(--color-text);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.card {
    max-width: 30rem;
    cursor: pointer;
}


.card-image img {
    width: 100%;
    border-radius: 1.5rem;
}

.card-info h2 {
    font-size: 1.8rem;
    color: var(--color-text);
    margin-top: 2rem;
}

.card-info p {
    font-size: 1.4rem;
    margin: .5rem 0 1rem;
    color: #777777;
}