{% extends 'admin/layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="/styles/admin/create.css">
  <title>Nova receita | Foodfy</title>
{% endblock head %}

{% block content %}

  <section class="new-recipe container form">
    <form action="/admin/recipes" method="POST" enctype="multipart/form-data">

      <div class="header">
        <h3>Criando receita</h3>
        <button class="button" type="submit" onclick="Validate.allFields(event)">Salvar receita</button>
      </div>
      
      <div class="fields">
        {% include 'admin/recipes/fields.njk'%}
      </div>
    </form>

  </section>

{% endblock content %}