<div class="item">
  <label for="photos">Imagem da receita</label>
  <div class="photos-container">

    <div id="photos-upload">
      <input 
        id="photos-input" 
        type="file" 
        name="photos" 
        multiple 
        accept="image/*" 
        {# value="{{ recipe.image }}"  #}
        {# required="required" #}
        onchange="PhotosUpload.handleFileInput(event, 5)"
      />
      <i class="material-icons">add</i>
    </div>

    <div id="photos-preview">
      {% if files %}
        {% for image in files %}
          <div class="photo" id="{{image.id}}">
            <img src="{{image.src}}" alt="{{image.name}}">
            <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
          </div>
        {% endfor %}
        <input type="hidden" name="removed_files">
      {% endif %}
    </div>
  </div>
</div>

<div class="item">
  <label for="title">Título da receita</label>
  <input 
    type="text" 
    id="title" 
    name="title" 
    value="{{ recipe.title }}" 
    required="required"
  />
</div>

<div class="item">
  <label for="chef">Chef</label>
  <select name="chef" required="required">
    <option value="" {% if recipe.chef_id == "" %} selected="selected" {% endif %}>
      Selecione um chef
    </option>

    {% for chef in chefOptions %}
      <option value="{{ chef.id }}" {% if recipe.chef_id == chef.id %} selected="selected" {% endif %}>
        {{ chef.name }}
      </option>
    {% endfor %}
  </select>
</div>

<div class="item">
  <label for="ingredients">Ingredientes</label>

  {% if recipe == null %}
    <div id="ingredients__container">
      <div class="ingredient">
        <input 
          type="text" 
          id="ingredients" 
          name="ingredients[]" 
          value="{{ ingredient }}" 
          required="required"
        />
      </div>
    </div>
  {% endif %}

  <div id="ingredients__container">
    {% for ingredient in recipe.ingredients %}
      <div class="ingredient">
        <input 
          type="text" 
          id="ingredients" 
          name="ingredients[]" 
          value="{{ ingredient }}" 
          required="required"
        />
      </div>
    {% endfor %}
  </div>
  <div class="new-buttons">
    <span class="add-ingredient">Adicionar novo ingrediente</span>
    <span class="remove-ingredient">Remover ingrediente</span>
  </div>
</div>

<div class="item">
  <label for="preparation">Modo de preparo</label>

  {% if recipe == null %}
    <div id="preparation__container">
      <div class="preparation">
        <input 
          type="text" 
          id="preparation" 
          name="preparation[]" 
          value="{{ preparation }}" 
          required="required"
        />
      </div>
    </div>
  {% endif %}

  <div id="preparation__container">
    {% for preparation in recipe.preparation %}
      <div class="preparation">
        <input 
          type="text" 
          id="preparation" 
          name="preparation[]" 
          value="{{ preparation }}" 
          required="required"
        />
      </div>
    {% endfor %}
  </div>
  <div class="new-buttons">
    <span class="add-preparation">Adicionar novo passo</span>
    <span class="remove-preparation">Remover passo</span>
  </div>
</div>

<div class="item">
  <label for="information">Informações adicionais</label>
  <textarea name="information" id="information" rows="10">{{ recipe.information }}</textarea>
</div>

<button type="submit">Salvar receita</button>

<script src="/scripts/admin/scripts.js"></script>