<div class="item">
  <label for="image">Imagem da receita</label>
  <input type="url" id="image" name="image" value="{{ recipe.image }}" required="required"/>
</div>

<div class="item">
  <label for="title">Título da receita</label>
  <input type="text" id="title" name="title" value="{{ recipe.title }}" required="required"/>
</div>

<div class="item">
  <label for="author">Chef</label>
  <input type="text" id="author" name="author" value="{{ recipe.author }}" required="required"/>
</div>

<div class="item">
  <label for="ingredients">Ingredientes</label>

  {% if recipe == null %}
    <div id="ingredients__container">
      <div class="ingredient">
        <input type="text" id="ingredients" name="ingredients[]" value="{{ ingredient }}" required="required"/>
      </div>
    </div>
  {% endif %}

  <div id="ingredients__container">
    {% for ingredient in recipe.ingredients %}
      <div class="ingredient">
        <input type="text" id="ingredients" name="ingredients[]" value="{{ ingredient }}" required="required"/>
      </div>
    {% endfor %}
  </div>
  <div class="new-buttons">
    <span class="add-ingredient">Adicionar novo ingrediente</span>
    <span class="remove-ingredient">Remover ingrediente</span>
  </div>
</div>

<div class="item">
  <label for="preparation">Modo de preparo</label>

  {% if recipe == null %}
    <div id="preparation__container">
      <div class="preparation">
        <input type="text" id="preparation" name="preparation[]" value="{{ preparation }}" required="required"/>
      </div>
    </div>
  {% endif %}

  <div id="preparation__container">
    {% for preparation in recipe.preparation %}
      <div class="preparation">
        <input type="text" id="preparation" name="preparation[]" value="{{ preparation }}" required="required"/>
      </div>
    {% endfor %}
  </div>
  <div class="new-buttons">
    <span class="add-preparation">Adicionar novo passo</span>
    <span class="remove-preparation">Remover passo</span>
  </div>
</div>

<div class="item">
  <label for="information">Informações adicionais</label>
  <textarea name="information" id="information" rows="10">{{ recipe.information }}</textarea>
</div>

<button type="submit">Salvar receita</button>

<script src="/scripts-add-remove-ingredient-preparation.js"></script>