{% extends 'admin/layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="/styles/admin/show.css">
  <title>{{ recipe.title }}
    | Foodfy</title>
{% endblock head %}

{% block content %}

  <div class="container">
    <div class="header">
      <h2 class="container__title">
        Receita:
        {{ recipe.title }}
      </h2>
      {% if recipe.user_id === session.userId or session.isAdmin %}
        <a class="button" href="{{ recipe.id }}/edit">Editar receita</a>
      {% endif %}
    </div>

    <main class="container__recipe">

      <div class="gallery">
        <div class="highlight">
          {% if not files[0] %}
            <img src="http://placehold.it/940x280?text=RECEITA SEM IMAGEM">
          {% else %}
            <img class="container__recipe--image" src="{{files[0].src}}" alt="{{files[0].name}}">
          {% endif %}
        </div>

        <div class="gallery-preview">
          {% for image in files %}
            <img 
              src="{{image.src}}" 
              alt="{{image.name}}" 
              {% if loop.index0 == 0 %} 
                class="active" 
              {% endif %}
              onclick="ImageGallery.setImage(event)"
              >

          {% endfor %}
        </div>
      </div>

      <h1 class="container__recipe--title">
        {{ recipe.title }}
      </h1>
      <p class="container__recipe--author">
        {{ recipe.author }}
      </p>

      <div class="container__recipe--ingredients">
        <h3>Ingredientes</h3>

        {% for ingredient in recipe.ingredients %}
          <p>
            -
            {{ ingredient }}
          </p>
        {% endfor %}

      </div>

      <div class="container__recipe--preparation">
        <h3>Modo de preparo</h3>

        {% for preparation in recipe.preparation %}
          <p>
            -
            {{ preparation }}
          </p>
        {% endfor %}

      </div>

      {% if recipe.information != '' %}

        <div class="container__recipe--information">
          <h3>Informações adicionais</h3>

          <p>
            {{ recipe.information.replace('\\n', '<br><br>') }}
          </p>

        </div>

      {% endif %}

    </main>

  </div>

{% endblock content %}